/*CSS for Home Page*/

.style {
    background-color: #282c34;
    font-family: "Gill Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  body {
    background-color: #282c34;
  }

  #mainForm {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    justify-content: center;
    width: 50%;
    padding: 1em;
  }
  
.style button {
  background-color: #808080;
  color: #000000;
  padding: 10px;
  outline: none;
  border: none;
  display: flex;
  padding: 0.2em;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-family: "Gill Sans", sans-serif;
}

.style button:hover {
  background: #fff;
  color: #808080;
}

input[type="text"],
input[type="email"],
input[type="number"],
button,
select,
textarea
{
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  padding: 0.2em;
}